<form name="filterForm" class="form-horizontal media">
    <div class="form-group">
        <label class="control-label col-lg-3 col-lg-3" for="filterName">Filter Name</label>
        <div class="col-lg-7">
            <input class="form-control" type="hidden" id="filterId" name="filterId" data-ng-model="filter.id" />
            <input class="form-control" type="text" id="filterName" name="filterName" placeholder="Filter Title" data-ng-model="filter.name" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-3" for="jiraJQL">Jira JQL</label>
        <div class="col-lg-7">
            <textarea class="form-control" id="jiraJQL" name="jiraJQL" placeholder="Jira JQL" rows="2" data-ng-model="filter.jql"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-9 pull-right">
            <button type="button" class="btn btn-primary">Save</button>
            <span data-ng-controller="SnapshotModalController">
                <button type="button" class="btn" data-ng-click="open()">Create Snapshot</button>
            </span>
            <button type="button" class="btn">Cancel</button>
        </div>
    </div>
</form>