<ul class="nav nav-tabs">
    <li>
        <a href="#details" data-toggle="tab">Details</a>
    </li>
    <li class="active">
        <a href="#summary" data-toggle="tab">Summary</a>
    </li>
    <li>
        <a href="#snapshots" data-toggle="tab">Snapshots</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane" id="details">
        <ng-include data-src="'views/filter/filter-form.html'"></ng-include>
    </div>
    <div class="tab-pane active" id="summary">
        <ng-include data-src="'views/filter/comparator/summary.html'"></ng-include>
    </div>
    <div class="tab-pane" id="snapshots">
        <ng-include data-src="'views/filter/snapshots.html'"></ng-include>
    </div>
</div>