<form id="jira-credentials" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="jiraUserId">Jira User Id</label>
		<div class="controls">
			<input type="text" id="jiraUserId" name="jiraUserId" placeholder="Jira User Id" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="jiraPassword">Password</label>
		<div class="controls">
			<input type="password" id="jiraPassword" name="jiraPassword" placeholder="Password" />
		</div>
	</div>
</form>