<div class="form-group">
	<label class="control-label col-lg-4" for="jiraUserId">Jira User Id</label>
	<div class="col-lg-6">
		<input type="text" id="jiraUserId" class="form-control" name="jiraUserId" placeholder="Jira User Id"/>
	</div>
</div>
<div class="form-group">
	<label class="control-label col-lg-4" for="jiraPassword">Password</label>
	<div class="col-lg-6">
		<input type="password" id="jiraPassword" class="form-control" name="jiraPassword" placeholder="Password"/>
	</div>
</div>
