<table class="table .table-striped">
	<thead>
	    <tr>
	     	<th>Matric</th>
	      	<th>Baseline</th>
	      	<th>Current</th>
	      	<th>Change +/-</th>
	    </tr>
	</thead>
  <tbody>
    {{#each snapshot1}}
    <tr>
     	<td>{{@key}}</td>
     	<td>{{.}}</td>
		<td>{{get ../snapshot2 @key}}</td>
		<td>{{subtract ../snapshot1 ../snapshot2 @key }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>