<div class="summary-group">
<table class="table .table-striped">
	<thead>
	    <tr>
	      <th>Matric</th>
	      <th>Baseline</th>
	      <th>Current</th>
	    </tr>
		</thead>
  <tbody>
    {{#each snapshot1}}
	    <tr>
	      <td>{{name}}</td>
	      <td>{{val}}</td>
	      <td>{{snapshot ../snapshot2 @index}}</td>
	    </tr>
    {{/each}}
  </tbody>
</table>
</div>
