<div data-ng-class="{'text-center':!summarized}" data-ng-controller="FilterSummaryController">
    <i class="icon-spinner icon-spin icon-4x" data-ng-show="!summarized"></i>
    <table class="table .table-striped" data-ng-show="summarized">
        <thead>
            <tr>
                <th rowspan="2" class="text-align-vertical-middle">Matric</th>
                <th data-ng-repeat="entity in summary.comparatorEntities | orderBy:'index'" colspan="2" class="text-center">
                    {{entity.title}}
                    <span data-ng-if="entity.leftDate"></br>{{entity.leftDate | date:mediumDate}}</span>
                    <span data-ng-if="entity.rightDate"> - {{entity.rightDate | date:mediumDate}}</span>
                </th>
            </tr>
            <tr>
                <th data-ng-repeat-start="entity in summary.comparatorEntities" class="text-center">Count
                </th>
                <th data-ng-repeat-end class="text-center">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="(summarizerIdx, summarizer) in summary.summarizers">
                <td>{{summarizer.title}}</td>
                <td data-ng-repeat-start="entity in summary.comparatorEntities | orderBy:'index'" class="text-center">
                    <span data-ng-if="entity.leftSummary && !entity.rightSummary">
                        {{entity.leftSummary.summarizers[summarizerIdx].count}}
                    </span>
                    <span data-ng-if="entity.leftSummary && entity.rightSummary">
                        {{entity.rightSummary.summarizers[summarizerIdx].count - entity.leftSummary.summarizers[summarizerIdx].count}}
                    </span>
                </td>
                <td data-ng-repeat-end="" class="text-center">
                    <span data-ng-if="entity.leftSummary && !entity.rightSummary">
                        {{entity.leftSummary.summarizers[summarizerIdx].points | number:2}}
                    </span>
                    <span data-ng-if="entity.leftSummary && entity.rightSummary">
                        {{(entity.rightSummary.summarizers[summarizerIdx].points - entity.leftSummary.summarizers[summarizerIdx].points) | number:2}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
