body {
    padding-top: 70px;
}
.btn-submit-form {
    position: absolute;
    left: -2000px;
}
.modal {
    display: block;
    width: auto;
}
.strike {
    text-decoration: line-through;
}
.text-align-vertical-middle {
    vertical-align: middle !important;
}
.form-horizontal {
    overflow: visible;
}